.footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    margin-top:135px;


}
.footer-logo{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}
.footer-logo img{
     height:50px;

}
.footer-logo p{
    color:rgb(78, 173, 205);
    font-size:32px;
    font-weight:600;

}
.footer-links{
    display:flex;
    gap:20px;
    list-style-type: none;

}
li{
    font-weight:400;
    margin-bottom:20px;
}
.footer-social-icon{
    display:flex;
    gap:20px;
}
.footer-social-icon img{
    height:30px;

}
.footer-copyright hr {
    width: 80%;
    border: none;
    margin: 20px auto; /* Centers the hr */
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
    display: block; /* Ensures it's treated as a block element */
}
.footer-copyright {
    width: 100%;
    text-align: center; /* Ensures the hr is centered */
}
